body {
    font-family: "Arial";
    background-color: #f3f7f9
}

.heading {
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
    font-size: x-large;
}

.scoreboard {
    text-align: left;
}

.timer {
    text-align: right;
}

.score-button {
    background-color: rgb(237, 214, 248);
}

#start-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(237, 214, 248);
}

.intro {
    text-align: center;
    font-size: large;
}